*{
    margin: 0;
    padding:0;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:12px;
    font-weight: normal;
    outline: none;
}
input,img{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}
a{
    text-decoration: none;
    font-size: 12px;
    color: #080808;
}
header{
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 1);
    transition: 1s;
}
.container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    width: 20%;
    height: 100%;
    line-height: 90px;
    float: left;
    overflow: hidden;
    transition: 1s;
}
.logo a{
    font-size: 20px;
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: 4px;
    color: #fff;
}
nav{
    float: right;
    overflow: hidden;
    width: 0;
    height: 90px;
    transition: 1s;
}
nav ul{
    overflow: hidden;
}
nav ul li{
    float: left;
    line-height: 70px;
    height: 90px;
}
nav ul li a{
    padding: 10px 16px;
    display: block;
    height: 70px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    transition: .8s;
}
nav ul li:hover a{
    color: white;
    background-color: grey;
}

.breadKey{
    float: right;
    width: 4%;
    height: 100%;
    line-height: 90px;
    color: #f7fff3;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
}
.bread{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}


footer{
    margin-top: 100px;
    width: 100%;
    background-color: #efefef;
    padding: 50px 0;
}
.ft{
    margin: 10px auto;
    text-align: center;
}
.ft a{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
}
.fb{
    text-align: center;
}
.fb a{
    display: block;
    float: left;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    font-size: 30px;
    border: 1px solid #080808;
    border-radius: 4px;
}
.fb a .iconfont{
    line-height: 18px;
}
.fb a:hover{
    background-color: #080808;
    color: white;
}
.fcenter{
    margin: 0 auto;
    overflow: hidden;
    line-height: 30px;
    width: 350px;
}
.banquan{
    margin-top: 20px;
}
.top{
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 30px;
    height: 30px;
}
.top span{
    display: block;
    width: 100%;
    height: 100%;
    color: #080808;
    line-height: 30px;
    text-align: center;
    background-color: white;
    transition: 1s;
    cursor: pointer;
}
.top span:hover{
    color: white;
    background-color: #080808;
}
/*footer*/